.commentContainer {
  margin-top: 0;
  margin-bottom: 1em;
  background-color: beige;
  margin-left: 1em;
  border-left: 1px black solid;
  padding: 0.5em;
}

.commentText{
  font-size: 12px;
}

.commentAuthorInfo{
  color: #828282;
  font-size: 11px;
}